@page "{restaurantId:int}"
@model SIP.Pages.Restaurants.DetailModel
@{
}
<h2>@Model.Restaurant.Name</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Id: @Model.Restaurant.Id</td>
        </tr>
        <tr>
            <td>Miasto: @Model.Restaurant.City</td>
        </tr>
        <tr>
            <td>Kod pocztowy: @Model.Restaurant.CityCode</td>
        </tr>
        <tr>
            <td>Ulica: @Model.Restaurant.Street</td>
        </tr>
        <tr>
            <td>Telefon: @Model.Restaurant.Phone</td>
        </tr>
        <tr>
            <td>Długość geograficzna: @Model.Restaurant.Longitude</td>
        </tr>
        <tr>
            <td>Szerokość geograficzna: @Model.Restaurant.Latitude</td>
        </tr>
        <tr>
            <td>Typ: @Model.Restaurant.Type</td>
        </tr>
        <tr>
            <td>
                Godziny Otwarcia:
                <table class="table">
                    <thead>
                        <tr>
                            <td></td>
                            <td scope="col">Dzień</td>
                            <td scope="col">Otwarcie</td>
                            <td scope="col">Zamknięcie</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Poniedziałek</td>
                            <td>@Model.Restaurant.Hours[0].OpenHour</td>
                            <td>@Model.Restaurant.Hours[0].CloseHour</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Wtorek</td>
                            <td>@Model.Restaurant.Hours[1].OpenHour</td>
                            <td>@Model.Restaurant.Hours[1].CloseHour</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Środa</td>
                            <td>@Model.Restaurant.Hours[2].OpenHour</td>
                            <td>@Model.Restaurant.Hours[2].CloseHour</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Czwartek</td>
                            <td>@Model.Restaurant.Hours[3].OpenHour</td>
                            <td>@Model.Restaurant.Hours[3].CloseHour</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Piątek</td>
                            <td>@Model.Restaurant.Hours[4].OpenHour</td>
                            <td>@Model.Restaurant.Hours[4].CloseHour</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Sobota</td>
                            <td>@Model.Restaurant.Hours[5].OpenHour</td>
                            <td>@Model.Restaurant.Hours[5].CloseHour</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Niedziela</td>
                            <td>@Model.Restaurant.Hours[6].OpenHour</td>
                            <td>@Model.Restaurant.Hours[6].CloseHour</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>Opis: @Model.Restaurant.Description</td>
        </tr>
        <tr>
            <td>Ocena: @Model.Restaurant.Rating</td>
        </tr>
        <tr>
            <td>Strona: <a href="@Model.Restaurant.AdressURL">@Model.Restaurant.Name</td>
        </tr>
    </tbody>
</table>

<div>
    <div class="text-center">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <div id="googleMap" style="height:500px;width:100%;"></div>
        <script>

                        function myMap() {
                            var myCenter = new google.maps.LatLng(@Model.Restaurant.Latitude, @Model.Restaurant.Longitude);
                            var mapProp = { center: myCenter, zoom: 16, scrollwheel: true, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
                            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                            var marker = new google.maps.Marker({ position: myCenter });
                            marker.setMap(map);
                        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7inDNHeEHrSM8D1V3ENK3ATX5uuYM_nw&callback=myMap"></script>

    </div>

</div>
@if (Model.Message != null)
{
    <div class="alert alert-secondary">@Model.Message</div>
}

<a asp-page="./List" class="btn btn-light">Powrót do wszystkich restauracji.</a>

