@page

@model SIP.Pages.Restaurants.ListModel
@{
}
<h1>Restauracje</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <button class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>

<div>
    <div class="text-center">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <div id="googleMap" style="height:500px;width:100%;"></div>
        <script>

            function myMap() {

                var myCenter = new google.maps.LatLng(54.371807, 18.635777);
                var mapProp = { center: myCenter, zoom: 8, scrollwheel: true, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

                @foreach (var restaurant in Model.Restaurants) {
                    @:var markerposition = new google.maps.LatLng(@restaurant.Latitude, @restaurant.Longitude);
                    @:var marker = new google.maps.Marker({ position: markerposition });
                    @:marker.setMap(map);
                }
                
                map.addListener('click', function (e) {
                    //console.log(e);
                    addMarker(map, e.latLng);
                });



            }
         
            function addMarker(map, latLng) {
                var marker = new google.maps.Marker({
                    map: map,
                    position: latLng,
                    draggable: true
                });


            }

        </script>
       
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7inDNHeEHrSM8D1V3ENK3ATX5uuYM_nw&callback=myMap"></script>

    </div>

</div>



<table class="table">
    
    <thead>
    <tr>
        <td>Nazwa</td>
        <td>Addres</td>
        <td>Longitude</td>
        <td>Latitude</td>
        <td>Ocena</td>
        <td>Szczegóły</td>
        <td>Edytuj</td>
    </tr>
    </thead>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Address</td>
            <td>@restaurant.Longitude</td>
            <td>@restaurant.Latitude</td>
            <td>@restaurant.Rating</td>
            <td>
                <a class="btn btn-secondary" asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">
                    <i class="fa fa-bars"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-secondary" asp-page="./Edit" asp-route-restaurantId="@restaurant.Id">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
        </tr>
    }
</table>
<a asp-page=".\Edit" class="btn btn-primary">Dodaj kolejną!</a>

