@page

@model SIP.Pages.Restaurants.ListModel
@{
}
<h1>Restauracje</h1>
<form method="get">
    <div class="form-group row">
        <div class="input-group col-4">
            <label asp-for="SearchName">Nazwa</label>
            <input type="search" class="form-control" asp-for="SearchName" />
        </div>
        <div class="input-group col-4">
            <label asp-for="SearchAddress">Adres</label>
            <input type="search" class="form-control" asp-for="SearchAddress" />
        </div>
        <div class="input-group col-1">
            <label asp-for="MinScore">MinScore</label>
            <select asp-for="MinScore" class="form-control" >
                <option selected="@(Model.MinScore == 1)">1</option>
                <option selected="@(Model.MinScore == 2)">2</option>
                <option selected="@(Model.MinScore == 3)">3</option>
                <option selected="@(Model.MinScore == 4)">4</option>
                <option selected="@(Model.MinScore == 5)">5</option>
            </select>
        </div>
        <div class="input-group col-1">
            <label asp-for="MaxScore">MaxScore</label>
            <select asp-for="MaxScore" class="form-control">
                <option selected="@(Model.MaxScore == 5)">5</option>
                <option selected="@(Model.MaxScore == 4)">4</option>
                <option selected="@(Model.MaxScore == 3)">3</option>
                <option selected="@(Model.MaxScore == 2)">2</option>
                <option selected="@(Model.MaxScore == 1)">1</option>
            </select>
        </div>
        <div class="input-group col-2">
            <button class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>

<div>
    <div class="text-center">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <div id="googleMap" style="height:500px;width:100%;"></div>
        <script>

            function myMap() {

                var myCenter = new google.maps.LatLng(54.371807, 18.635777);
                var mapProp = { center: myCenter, zoom: 8, scrollwheel: true, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

                @foreach (var restaurant in Model.Restaurants)
                {
                    @:var markerposition = new google.maps.LatLng(@restaurant.Latitude, @restaurant.Longitude);
                    @:var marker = new google.maps.Marker({ position: markerposition, title: "@restaurant.Name", });
                    @:marker.setMap(map);
                    @:marker.addListener('click', () => { window.open("Detail/@restaurant.Id"); });

                    @:google.maps.event.addListener(map, 'click', function (event) {
                        @:addMarker(map, event.latLng);
                    @:});
                }

            }

            function addMarker(map, latLng) {
                var marker = new google.maps.Marker({
                    map: map,
                    position: latLng,
                    draggable: true
                });
                var Lat = latLng.lat();
                var Lng = latLng.lng();
                window.open("Edit/0/" + Lat + "/" + Lng , "_self");
            }

        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7inDNHeEHrSM8D1V3ENK3ATX5uuYM_nw&callback=myMap"></script>

    </div>

</div>



<table class="table">

    <thead>
        <tr>
            <td>Nazwa</td>
            <td>Addres</td>
            <td>Longitude</td>
            <td>Latitude</td>
            <td>Ocena</td>
            <td>Typ</td>
            <td>Szczegóły</td>
            <td>Edytuj</td>
        </tr>
    </thead>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Address</td>
            <td>@restaurant.Longitude</td>
            <td>@restaurant.Latitude</td>
            <td>@restaurant.Rating</td>
            <td>@restaurant.Type</td>
            <td>
                <a class="btn btn-secondary" asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">
                    <i class="fa fa-bars"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-secondary" asp-page="./Edit" asp-route-restaurantId="@restaurant.Id">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
        </tr>
    }
</table>
<a asp-page=".\Edit" class="btn btn-primary">Dodaj kolejną!</a>

